    <p>
        <strong><span data-mx-bg-color="#28a745" data-mx-color="#ffffff" data-mx-bg-color="#4a86cf" >New Issue</span> created by {{json.msg.agent}} in {{json.msg.project.name}}</strong>
        <a href="{{json.msg.issue.full_url}}">#{{json.msg.issue.id}} {{json.msg.issue.title}}</a>
    </p>