    <p>
        <strong><span data-mx-bg-color="#28a745" data-mx-color="#ffffff" data-mx-bg-color="#4a86cf" >New Pull Request</span> opened by {{json.msg.agent}} in {{json.msg.pullrequest.project.name}}</strong>
        <a href="{{json.msg.pullrequest.full_url}}">#{{json.msg.pullrequest.id}} {{json.msg.pullrequest.title}}</a>
    </p>